@import url("./Main.css");
html body {
  width: 100%;
  background-color: #c0c0c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .topHeader {
  width: 100%;
  height: 15vh;
  background-color: aquamarine;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .topHeader .topHeaderContent {
  background-color: #48bebe;
}

html body .middleDiv {
  background-color: cornflowerblue;
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: solid black 1px;
}

html body .middleDiv .leftDiv {
  background-color: #003000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 15%;
}

html body .middleDiv .leftDiv .months {
  background-color: green;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: solid black 1px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

html body .middleDiv .leftDiv div:hover {
  background-color: greenyellow;
  border: #f0ffb5 solid 1px;
}

html body .middleDiv .calContainer {
  width: 67%;
  height: 70vh;
  margin: 0 auto;
  background-color: #dfdfdf;
  color: #c7c7c7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 40px 10px 5px rgba(0, 0, 255, 0.2);
          box-shadow: 0px 40px 10px 5px rgba(0, 0, 255, 0.2);
}

html body .middleDiv .calContainer .calHeader {
  background-color: #4b4bc3;
  width: 100%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .middleDiv .calContainer .calHeader .selectedMonth {
  font-size: 30px;
}

html body .middleDiv .calContainer .calHeader .selectedDate {
  font-size: 16px;
  margin: 5px 0;
}

html body .middleDiv .calContainer .daysOfWeek {
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .middleDiv .calContainer .daysOfWeek .weekdays {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: solid black 1px;
}

html body .middleDiv .calContainer .calendar {
  width: calc(100%);
  height: 100%;
  background-color: #433939;
  overflow-y: scroll;
  padding-right: 15px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* So the width will be 100% + 17px */
  -webkit-box-shadow: darkgray;
          box-shadow: darkgray;
}

html body .middleDiv .calContainer .calendar .julianDays {
  background-color: #664320;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .middleDiv .calContainer .calendar .julianDays .prev-year-days, html body .middleDiv .calContainer .calendar .julianDays .current-year-days, html body .middleDiv .calContainer .calendar .julianDays .next-year-days {
  background-color: #ffbe47;
  width: calc(100% / 7);
  height: calc(100vh/10);
  color: black;
  border: solid black 1px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

html body .middleDiv .calContainer .calendar .julianDays .prev-year-days, html body .middleDiv .calContainer .calendar .julianDays .next-year-days {
  background-color: #8b6c33;
}

html body .middleDiv .calContainer .calendar .julianDays div:hover {
  background-color: #ff4b4b;
  border: solid #ccccff 1px;
}

html body .middleDiv .rightDiv {
  background-color: #5f395f;
  width: 15%;
}

html body .footer {
  background-color: #928b8b;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .footer .footerContent {
  background-color: darkgray;
}
/*# sourceMappingURL=index.css.map */