@import url("/styles/Main.css");


html {
    font-size: 62.5%;
    
    body {

        .container {
            width: 100%;
            height: 100vh;
            background-color: #12121f;
            color: #eee;
            display: flex;
            justify-content: center; /* horizontal center */
            align-items: center; /* verticle center */

            .calendar {
                width: 45rem;
                height: 52rem;
                background-color: #222227;
                box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);

                .month {
                    width: 100%;
                    height: 12rem;
                    background-color: #167e56;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 2rem;
                    text-align: center;
                    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);

                    .fas {
                        font-size: 2.5rem;
                        cursor: pointer;
                    }
                }

                .weekdays {
                    width: 100%;
                    height: 5rem;
                    padding: 0, .4rem;
                    display: flex;
                    align-items: center;

                    div {
                        // background-color: red;
                        font-size: 1.5rem;
                        font-weight: 400;
                        letter-spacing: .1rem;
                        width: calc(44.2rem / 7); /* 44.2 is difference between the width and the padding */
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
                    }
                }
                .days {
                    // background-color: green;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0.2rem;

                    div {
                        font-size: 1.4rem;
                        margin: 0.3rem;
                        width: calc(40.2rem / 7);
                        height: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
                        transition: background-color 0.2s;
                    }

                    div:hover:not(.today) {
                        background-color: #40564e;
                        // background-color: blue;
                        border: 0.1rem solid rgb(126, 175, 149);
                        cursor: pointer;
                    }
                    
                    .prev-date, .next-date {
                        opacity: 0.5;
                    }
                    .today {
                        background-color: #167e56;
                    }
                }
            }
        }
    }
}
